@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    font-family: "Poppins", serif;
}
.hero-content{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
}
.left{
    width: 35%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 20px; */
    gap: 10px;
}
.right{
    width: 65%;
    margin-right: 5%;
}
.right img{
    width: 100%;
    height: 100%;
}
.container-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
/* .container-left label{
    display: inline-block;
    margin-right: 265px;
    border: 1px solid red;
} */
.container-left input[type=email],
input[type=password],
input[type=text]{
    width: 350px;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid #ccc;
    transition: 1s;
    border-radius: 10px;
}
.container-left input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus{
    border: 1px solid rgb(114, 43, 114);
}
.container-left input[type=email]{
    margin-bottom: 25px;
}
.left-itens{
    display: flex;
    justify-content: space-between;
    width: 350px;
}
.itens-one{
    display: flex;
    gap: 5px;
}
.email{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}
input[type=email],
input[type=email]{
    position: relative;
    padding-left: 20px;
}
.email i{
    position: absolute;
    margin-top: 45px;
    margin-left: 325px;
}
.password i{
    position: absolute;
    margin-top: 45px;
    margin-left: 325px;
    cursor: pointer;
}
.password{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    margin-bottom: 20px;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
.text p{
    width: 350px;
    color: #ccc;
}
.text h1{
    width: 350px;
}
.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.login{
    display: inline-block;
    width: 350px;
    border: none;
    background: #8953ff;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    opacity: 0.9;
}
.login:hover{
    background: #4e00f7;
    transform: scale(1);
    opacity: 1;
}
.google{
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 10px;
    margin-top: 25px;
    transition: 3s;
}
.google img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 8px;
}
.google p{
    font-size: 13px;
    text-align: center;
}
.img-google{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    cursor: pointer;
    background: none;
    border: none;
}
.img-google img{
    margin-bottom: 10px;
}
.google:hover{
    border: 1px solid #000000;
}
.text-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    margin-top: 15px;
    gap: 5px;
}
@media screen and (min-width:360px) and (max-width:980px){
    .right{
        display: none;
    }
    .hero-content{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left{
        width: 100%;
        margin-left: 0;
    }
}
@media screen and (min-width:1024px) and (max-width:1250px){
    .hero-content{
        width: 100%;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
}
i.ativo{
    display: none;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  body {
    animation: fadeIn 2s ease-out;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }